<h1>Cageflix</h1>
<h3>Netflix for Nic Cage movies</h3>
<a href="new">Add Movie</a>

<p>


<% @movies.each do |movie| %>

<section class="movie">

  <div class="title"><%= "#{movie.name} (#{movie.year})" %></div>
  <div></div>
  <div><%= "#{movie.synopsis}" %></div>



</section>

<% end %>